@media only screen and (min-width: 501px) {
/*Strona z projektami*/

	#projekty {
		margin-top: auto;
		@include flex("row", true);
	}

	.projekt {
		margin: auto;
		width: 30vw;

		img {
		width: 27vw;
		}

		> * {
		margin: auto;
		}
	}

	/*Część gaeriowo-zdjęciowa*/

	#galeria {
		grid-template-columns: repeat(8, 1fr);
		grid-template-rows: repeat(3, 1fr);
		grid-gap: 10px;
		margin: {
			top: 5%;
			bottom: 14%;
			left: 7%;
			right: 7%;
		}

		> img {
			z-index: 1;
			grid-column: span 2;
			max-width: 100%;
			margin-bottom: -33%;
			clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
			transform: scale(1);
			transition: all .5s;

			&:last-child {
				clip-path: polygon(50% 0%, 78% 25%, 78% 75%, 50% 100%, 22% 75%, 22% 25%);
				transform: scale(1.76);
			}

			&:nth-child(7n + 1) {
				grid-column: 2 / span 2;
			}

			&:hover, &:active {
				z-index: 2;
				transform: scale(1.5);
			}

			&:last-child:hover {
				transform: scale(2.64);
			}
		}
	}

	form {
		@include flex("row");
		gap: 30px;
		padding: 20px;
	}
}